


/*公共类*/
.hover-left-nav { color: #14AAFB; font-size: 23px; }



.userleft { width: 243px; min-height: 500px; margin-top: 50px; float: left; border: 1px solid #ccc; }
.userright { width: 929px; min-height: 500px; margin: 50px 0px 0px 4px; padding: 0px 10px; float: left; border: 1px solid #ccc; }

.userright-nav { height: 55px; border-bottom: 1px dashed #ccc; text-align: center; }
.userright-nav > a { width: 85px; height: 26px; display: block; float: left; margin: 14px 0px; padding: 0px 5px; border: 1px solid #ccc; line-height: 26px; }
.userright-nav > ul { float: right; }
.userright-nav > ul > li { height: 26px; float: left; margin: 14px 5px; padding: 0px 10px; border: 1px solid #ccc; line-height: 26px; }

.userimg { min-height: 200px; border-bottom: 1px dashed #ccc; text-align: center; }
.userimg > img { width: 120px; height: 120px; margin: 30px 61px; border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px; }
.userimg > h2 {  }
.userimg > p { margin: 10px 0px 20px; color: #ccc; font-size: 12px; }

.userclass { margin: 30px; }
.userclass > li { margin: 30px 0px; }

.main-content { padding: 0px 30px; }
.main-article { min-height: 120px; margin: 30px 0px; background-color: #fcfcfc; border: 1px solid #eee; overflow: hidden; clear: both; }
.article-icon { float: left; margin: 10px; }
.article-icon > img { width: 120px; height: 120px; -webkit-box-shadow: 3px 3px 3px; -moz-box-shadow: 3px 3px 3px; box-shadow: 3px 3px 3px; }
.article-info { width: 680px; min-height: 120px; float: right; font-size: 13px; margin-right: 20px; }
.article-info > p { margin: 10px 0px; }
.article-title { color: #14AAFB; font-size: 15px; }
.article-details { color: #999; }
.article-details > a { color: #c66; }
.article-synopsis { color: #999; }
.article-tag { padding-top: 10px; border-top: 1px dashed #ccc; }
.article-tag > a { color: #c66; }

.article-pages { width: 100%; margin-top: 20px; border-top: 1px dashed #ccc; overflow: hidden; }
.article-pages > ul { margin-top: 20px; }
.article-pages > ul > li { width: 35px; height: 35px; line-height: 35px; text-align: center; margin-right: 10px; border: 1px solid #ccc; float: left; }

.comment-title { width: 100%; height: 30px; border-bottom: 1px solid #ccc; }
.comment-title > a { color: #14AAFB; }
.comment-mi, .comment-down { width: 100%; margin: 10px 0px; line-height: 23px; word-break:break-all; word-wrap:break-word; overflow: hidden; }
.comment-mi { border-bottom: 1px dashed #ccc; padding-bottom: 10px; }
.comment-mi > p > a{ color: #c66; }
.comment-down > p > a{ color: #c66; }

.setting-form { width: 100%; }
.form-left { width: 100%; margin: 15px 0px; overflow: hidden; }
.form-left > div { float: left; line-height: 24px; margin-left: 10px; }
.form-left > div > input { width: 280px; height: 24px; padding-left: 10px; }
/*.form-left > div > input[type=file] { width: 150px; height: 24px; opacity: 0; }*/
.form-left > div > select { width: 120px; height: 24px; }
.form-left > div:first-child { width: 80px; }
/*.form-img > div:nth-child(2) { width: 150px; background-color: #14AAFB; }*/
/*.form-img > div:nth-child(2) > a { height: 24px; color: white; font-size: 14px; line-height: 24px; text-align: center; }*/


